$greyColor = rgba(183, 177, 42, 1)
$primaryColor = #ECEBE0
$pinkColor = rgba(249, 187, 203, 1)
$blueColor = rgba(146, 218, 255, 1)
$yellowColor = rgba(255, 248, 86, 1)
$whiteColor = rgba(236, 235, 224, 1)
$redColor = rgba(255, 86, 44, 1)
$fontBase = 'IBM Plex Serif'


